@using Letra.Models
@model List<Hakkimizda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Sayfası</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Açıklama</th>
            <th scope="col">LogoLink</th>
            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var x in Model)
        {
        <tr>
            <th scope="row">@x.Id</th>
            <td>@x.Aciklama</td>
            <td>@x.LogoLink</td>
            <td><a href="#" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
        }
    </tbody>
</table>
<h3 style="color:red"> güncelle sayfası oluşturulacak ve sil ile güncellenin backendi yazılıcak</h3>


