@model  Letra.Models.Oyunlarimiz

@{
    ViewBag.Title = "YeniOyunEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Oyun Ekle</h2>

<form class="form-group" method="post">

    <b>Oyun Adı (Büyük Harflerle Yazınız)</b>
    <br />
    @Html.TextBoxFor(o => o.OyunAdi, new { @class = "form-control", required = "required" })
    <br />
    <b>Oyun Açıklaması </b>
    @Html.TextAreaFor(o => o.OyunAciklamasi, new { @class = "form-control", required = "required" })
    <br />
    <b>Oyun Fotoğrafı </b>
    @Html.TextBoxFor(o => o.OyunFotografi, new { @class = "form-control", required = "required" })
    <br />
    <b>Oyun Linki </b>
    @Html.TextBoxFor(o => o.OyunLinki, new { @class = "form-control", required = "required" })
    <br />

    <button class="btn btn-info">Kaydet</button>
</form>

